body{
    background: rgb(210, 202, 202);
    font-family: 'Asap', sans-serif;
}

.container {
    width: 850px;
    margin: 0px auto /*dois valores nesse short hand redundam em: primeiro valor se aplica para top e botton, e segundo valor se aplica para left e right*/
}

p {
    color:rgb(33, 33, 33);
}
h1 {
    font-family: 'Spartan', sans-serif;
    letter-spacing: 0px;
    font-size: 40px;
    margin-bottom: 0px;
}
h2{
    margin-top: 0px;
}

.foto {
    width: 400px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50% 70% 50% 70%;
    margin: 30px 30px 30px 30px;
    padding: 1px;
    box-shadow: 0px 0px 12px rgb(71, 67, 67); /*essa propriedade recebe quatro propriedades: distancia horizontal da sombra, distancia da sombra na vertical, desfoque da sombra, e cor da sombra*/
}