

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Lato;
    color: white;
}

.container {
    max-width: 500px;
    margin: 100px auto;
    text-align: center;
    border-radius: 6px;
}

img {
    width: 20%;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 10px 0 0 0;
}

h2{
    font-size: 25px;
    margin: 0 0 30px 0;
}

h3{
    font-size: 20px;
    margin: 0 0 10px 0;
}

.nome, .email{
    width: 100%;
    height: 40px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 0 0 20px;
}

label {
    display: block;
}

.button{
    color: white;
    width: 100%;
    height: 40px;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: rgb(79, 79, 225);
}

.button:hover{
    background-color: rgb(62, 62, 200);
}