* {
    margin: 0;
    padding: 0;
}

.quadrado {
    position: fixed; /*fica preso na tela*/
    top: 300px; /*distancia do topo, e a propriedade botton é distancia da parte de baixo, e left e right, etc...*/
    left: 150px;
    width: 80px;
    height: 80px;
    background: black;
    color: white;
    text-align: center;
}

.circulo {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 100px;
    left:100px;
    background: black;
    color: white;
    text-align: center;
}

p {
    margin: 50px;
    width: 300px;
}