

.container {
    background: silver;
    padding: 5px;
    margin: 5px;
    height: 600px;

    display: flex; /*display flex aplica a modalidade flex para tags filhas, no caso, deixaram de funcionar como block*/
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center; /*somente funciona com o flex-direction row, e alinha os elementos na vertical*/
    align-content: center; /*funciona como o aling-itens, porém alinha o conjunto de itens (evita de distribui-los quando acontece um wrap*/
}

.caixa {
    width: 70px;
    height: 70px;
    margin: 10px;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}