body {
    background: url(/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

span, div, content, ul {
    border: 1px solid black;
    margin: 20px;
    display:block;
}

span {
    display:none; /* tag continua a existir no código, mas sua área desaparece da apresentação do documento, dá lugar para outros elementos */
}

content {
    visibility: hidden; /* tag continua a existir no código, e sua área continua a ser ocupada no documento, porém sem mostrar nada, fica um espaço vazio a que outros elementos não ocupam */
}

ul {
    opacity: 0.5; /* transparência, que vai de 0 a 1 */
    background-color: rgb(255, 255, 255);
    opacity: 0.3;
    padding: 20px;
}

ul li{
    display: inline;
    margin:20px;
    text-decoration: none;
}